


<div class="card-body">

    <h3>@Model.Title</h3>
    <hr />

    <div class="d-flex justify-content-between flex-row mt-5">


        <div>

            @*<i class="bi bi-globe"> </i>*@
            <a class="btn btn-light btn-small" href="/Users/Show/@Model.User.Id">
                @Model.User.NumeComplet ( @Model.User.Rol) </a>
            <strong> at </strong>
            <span class="alert-secondary"> @Model.Date</span>
        </div>

        

    </div>

    <div class="card-body">@Model.Content</div>



</div>