@model Proiect.Models.Category


<h3>@Model.CategoryName</h3>


<br />
<a class="btn alert-secondary" href="/Categories/Index/">Inapoi la categorii</a>
<a class="btn alert-success" href="/Subjects/New">Adauga subiect</a>

<br />
<hr />
<br />

@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

 Cautare Case Sensitive(!) in Subiecte(Titlu si Continut) si Raspunsuri

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control"
               placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success"
                type="submit"> Search </button>
    </div>
</form>

Sorteaza dupa:
<form method="GET">
    <div class="mb-3">
        <input type="hidden" name="search" value="@ViewBag.SearchString">

        <select class="form-select" name="sortOrder">
            <option value="date_desc">Data (Cea mai noua)</option>
            <option value="date_asc">Data (Cea mai veche)</option>
            <option value="alphabetically_asc">Alfabetic (A-Z)</option>
            <option value="alphabetically_desc">Alfabetic (Z-A)</option>
        </select>
        <button class="btn btn-outline-success" type="submit">Sorteaza</button>
    </div>
</form>

 Paginare
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-
                   label="Next">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>



@* atentie ca aici am schimbat @Model in ViewBag*@

@foreach (Proiect.Models.Subject subject in ViewBag.Subjects)
{
    <div class="card">

        @Html.Partial("SubjectInfo", subject)

        <a class="btn alert-secondary" href="/Subjects/Show/@subject.Id">Afisare subiect</a>




    </div>

    <br />
    <br />
}